<div class="prediction">
    <table>
      <tr>
        <th *ngIf="blockVektorList?.length">Teams</th>
        <th *ngIf="homeForm">Home form</th>
        <th *ngIf="awayForm">Visitor form</th>
        <th *ngIf="blockVektorList?.length">Home total</th>
        <th *ngIf="blockVektorList?.length">Home in</th>
        <th *ngIf="blockVektorList?.length">Visitor total</th>
        <th *ngIf="blockVektorList?.length">Visitor away</th>
        <th>Prediction</th>
        <th>Pred pair</th>
        <th>Part</th>
        <th>Part pair</th>
        <th>Epsilon</th>
        <th *ngIf="showGoalsPrediction">Shots prediction</th>
        <th *ngIf="showGoalsPrediction">Loses prediction</th>
        <th *ngIf="showGoalsPrediction">Balls delta</th>
      </tr>
      <tr *ngFor="let prediction of predictions; let i = index">
        <td *ngIf="blockVektorList[i]" [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">
          {{ blockVektorList[i].home}}-{{blockVektorList[i].visitor}}</td>
        <td *ngIf="blockVektorList[i] && homeForm"><app-form-viewer [formList]="homeForm[blockVektorList[i].home]"></app-form-viewer></td>
        <td *ngIf="blockVektorList[i] && awayForm"><app-form-viewer [formList]="awayForm[blockVektorList[i].visitor]"></app-form-viewer></td>
        <td *ngIf="blockVektorList[i]">{{blockVektorList[i].homeTotal}}</td>
        <td *ngIf="blockVektorList[i]">{{blockVektorList[i].homeIn}}</td>
        <td *ngIf="blockVektorList[i]">{{blockVektorList[i].visitorTotal}}</td>
        <td *ngIf="blockVektorList[i]">{{blockVektorList[i].visitorOut}}</td>
        <td [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">{{prediction.result}}</td>
        <td [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">{{prediction.resultPair}}</td>
        <td [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">{{prediction.part}}</td>
        <td [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">{{prediction.partPair}}</td>
        <td [class.bold]="(prediction.part >= minPredictionPart || prediction.partPair === 1) && prediction.epsilon >= minEpsilon">{{prediction.epsilon}}</td>
        <td *ngIf="showGoalsPrediction">{{ prediction.shotsInterval?.from}} - {{ prediction.shotsInterval?.to}}</td>
        <td *ngIf="showGoalsPrediction">{{ prediction.losesInterval?.from}} - {{ prediction.losesInterval?.to}}</td>
        <td *ngIf="showGoalsPrediction">{{ prediction.losesInterval?.to - prediction.losesInterval?.from +
          prediction.shotsInterval?.to
          - prediction.shotsInterval?.from | number:'1.1-2' }}</td>
      </tr>
    </table>
  </div>
