form {
  padding: 20px;
}

input {
  font-size: 24px;
  border-radius: 15px;
  padding: 5px;
  width: 160px;
  border-color: lightblue;
}

.predict__form-ultra input {
  width: 600px;
}

form * {
  margin: 10px;
}

/* .predict__form div:nth-child(2n) {
  background-color: lightgray;
} */

button {
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  border-color: lightblue;
  margin-top: 10px;
}
