form {
  padding: 20px;
}

input {
  font-size: 24px;
  border-radius: 15px;
  padding: 5px;
  width: 160px;
  border-color: lightblue;
}

.predict__form-ultra input {
  width: 600px;
}

form * {
  margin: 10px;
}

button {
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  border-color: lightblue;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 300px;
}

.predict__form-block {
  display: flex;
  flex-direction: column;
}

.predict__form-block * {
  margin: 10px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block label {
  font-weight: bold;
}

@media (min-width: 900px) {
  .predict__form-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.prediction {
  padding: 0 20px;
}
