<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Block form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formBlock" (ngSubmit)="calcBlockFormPrediction()" class="predict__form-block">
      <div class="block">
        <label>Names</label>
        <textarea formControlName="names"></textarea>
      </div>
      <div class="block">
        <label>All matches</label>
        <textarea formControlName="allMatches"></textarea>
      </div>
      <div class="block">
        <label>All home matches</label>
        <textarea formControlName="allHomeMatches"></textarea>
      </div>
      <div class="block">
        <label>All away matches</label>
        <textarea formControlName="allAwayMatches"></textarea>
      </div>
      <div class="actions">
        <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formBlock)">Reset</button>
        <button mat-raised-button color="primary" type="submit">Predict</button>
      </div>
      <span *ngIf="prediction$ | async as prediction">{{ prediction | json }}</span>
    </form>

    <div class="prediction" *ngIf="formBlock.valid">
      <table>
        <tr *ngFor="let pred$ of predictions$; let i = index">
          <ng-container *ngIf="pred$ | async as prediction">
            <td [class.bold]="prediction.part >= 0.6 || prediction.partPair === 1">
              {{ blockVektorList[i].home}}-{{blockVektorList[i].visitor}}</td>
            <td>{{blockVektorList[i].homeTotal}}</td>
            <td>{{blockVektorList[i].homeIn}}</td>
            <td>{{blockVektorList[i].visitorTotal}}</td>
            <td>{{blockVektorList[i].visitorOut}}</td>
            <td>{{prediction.result}}</td>
            <td>{{prediction.resultPair}}</td>
            <td>{{prediction.part}}</td>
            <td>{{prediction.partPair}}</td>
            <td>{{ prediction.shotsInterval?.from}} - {{ prediction.shotsInterval?.to}}</td>
            <td>{{ prediction.losesInterval?.from}} - {{ prediction.losesInterval?.to}}</td>
            <td>{{ prediction.losesInterval?.to - prediction.losesInterval?.from +
              prediction.shotsInterval?.to
              - prediction.shotsInterval?.from | number:'1.1-2' }}</td>
          </ng-container>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        One line form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formUltraShort" (ngSubmit)="calcUltraShortFormPrediction()"
      class="predict__form-ultra">
      <label>Matches</label>
      <input formControlName="matches">
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formUltraShort)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      <span *ngIf="prediction$ | async as prediction"  class="prediction">{{ prediction | json }}</span>
    </form>  
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Multi line form
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <form [formGroup]="formMultiLine" (ngSubmit)="calcMultiLineFormPrediction()"
      class="predict__form-ultra">
      <label>Matches</label>
      <textarea formControlName="matches"></textarea>
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formMultiLine)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      
      <table class="prediction">
        <tr *ngFor="let pred$ of predictionsML$; let i = index">
          <ng-container *ngIf="pred$ | async as prediction">
            <td [class.bold]="prediction.part >= 0.7 || prediction.partPair >= 0.9">
              {{prediction.result}}</td>
            <td>{{prediction.resultPair}}</td>
            <td>{{prediction.part}}</td>
            <td>{{prediction.partPair}}</td>
          </ng-container>
        </tr>
      </table>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Short form
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="formShort" (ngSubmit)="calcPrediction()" class="predict__form">
      <mat-form-field class="form-field">
        <input matInput formControlName="homeTotal" placeholder="Home total">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="homeIn" placeholder="Home in">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="visitorTotal" placeholder="Visitor total">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="visitorOut" placeholder="Visitor out">
      </mat-form-field>
    
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formShort)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      <span *ngIf="prediction$ | async as prediction">{{ prediction | json }}</span>
    </form>
  </mat-expansion-panel>
  
</mat-accordion>
