.predict__form {
  padding: 20px;
}

.predict__form input {
  font-size: 24px;
  border-radius: 15px;
  padding: 5px;
  width: 60px;
  border-color: lightblue;
}

.predict__form div * {
  margin: 10px;
}

.predict__form div:nth-child(2n) {
  background-color: lightgray;
}

.predict__form button {
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  border-color: lightblue;
  margin-top: 10px;
}
