<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Block form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formBlock" (ngSubmit)="calcBlockFormPrediction()" class="predict__form-block">
      <div class="block">
        <label>Names</label>
        <textarea formControlName="names"></textarea>
      </div>
      <div class="block">
        <label>All matches</label>
        <textarea formControlName="allMatches"></textarea>
      </div>
      <div class="block">
        <label>All home matches</label>
        <textarea formControlName="allHomeMatches"></textarea>
      </div>
      <div class="block">
        <label>All away matches</label>
        <textarea formControlName="allAwayMatches"></textarea>
      </div>
      <div class="actions">
        <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formBlock)">Reset</button>
        <button mat-raised-button color="primary" type="submit">Predict</button>
      </div>
    </form>

    <app-predict-table *ngIf="formBlock.valid" [predictions$]="predictions$" [blockVektorList]="blockVektorList"></app-predict-table>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        One line form
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formUltraShort" (ngSubmit)="calcUltraShortFormPrediction()"
      class="predict__form-ultra">
      <label>Matches</label>
      <input formControlName="matches">
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formUltraShort)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      <app-predict-table *ngIf="formUltraShort?.valid" [predictions$]="[prediction$]"></app-predict-table>
    </form>  
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Multi line form
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <form [formGroup]="formMultiLine" (ngSubmit)="calcMultiLineFormPrediction()"
      class="predict__form-ultra">
      <label>Matches</label>
      <textarea formControlName="matches"></textarea>
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formMultiLine)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      
      <app-predict-table *ngIf="formMultiLine?.valid" [predictions$]="predictionsML$"></app-predict-table>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Short form
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="formShort" (ngSubmit)="calcPrediction()" class="predict__form">
      <mat-form-field class="form-field">
        <input matInput formControlName="homeTotal" placeholder="Home total">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="homeIn" placeholder="Home in">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="visitorTotal" placeholder="Visitor total">
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <input matInput formControlName="visitorOut" placeholder="Visitor out">
      </mat-form-field>
    
      <button mat-stroked-button color="primary" type="reset" (click)="resetForm(formShort)">Reset</button>
      <button mat-raised-button color="primary" type="submit">Predict</button>
      <app-predict-table *ngIf="formShort.valid" [predictions$]="[prediction$]"></app-predict-table>
    </form>
  </mat-expansion-panel>
  
</mat-accordion>
