<div class="container">
  <div class="filters">
    <h2>Filters:</h2>
    <form (ngSubmit)="apply()">
      <label>test group size =</label>
      <input [(ngModel)]="testGroupSize" name="k">
      <label>k =</label>
      <input [(ngModel)]="koef" name="koef">
      <label>part >=</label>
      <input [(ngModel)]="minPart" name="minPart">
      <label>partPair >=</label>
      <input [(ngModel)]="minPartPair" name="minPartPair">
      <label>partPair <=</label>
      <input [(ngModel)]="maxPartPair" name="maxPartPair">
      <label>prediction result</label>
      <input [(ngModel)]="predResult" name="predResult">
      <label>result</label>
      <input [(ngModel)]="result" name="result">
      <button type="submit">Apply filters</button>
    </form>
  </div>
  <h3>predictionSuccessPart: {{predictionSuccessPart}}</h3>
  <h3>predictionSuccessPartPair: {{predictionSuccessPartPair}}</h3>
  <ng-container *ngIf="predictResults$ | async as predictResults">
    <p>Rows count: {{ predictResults?.length }}</p>
    <table>
      <tr>
        <th>#</th>
        <th>Prediction 1</th>
        <th>Part</th>
        <th>Prediction pair</th>
        <th>Part pair</th>
        <th>Actual result</th>
      </tr>
      <tr *ngFor="let prediction of predictResults; let i = index">
        <td>{{ i }}</td>
        <td [ngClass]="{success:prediction.matchGuess, fail:!prediction.matchGuess}">{{ prediction.prediction.result}}</td>
        <td>{{ prediction.prediction.part}}</td>
        <td [ngClass]="{success:prediction.pairGuess, fail:!prediction.pairGuess}">{{ prediction.prediction.resultPair}}</td>
        <td>{{ prediction.prediction.partPair}}</td>
        <td>{{ prediction.result}}</td>
      </tr>
    </table>
  </ng-container>
</div>

