.filters {
  margin-bottom: 20px;
  background-color: rgba(63, 63, 226, 0.2);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 1em 0 1em;
}

.filters .form-field {
  width: 120px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgba(100, 20, 0, 0.2) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgba(100, 20, 0, 0.2) inset !important;
}

.filters * {
  margin-right: 10px;
}

.filters button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5em 1em;
  align-self: center;
  margin-left: 1em;
}

.filters h3 {
  margin: 0;
  width: 100%;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

td {
  text-align: right;
}

.container {
  padding: 0 15px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
}

h3.part {
  margin: 0.3em;
}
