<div class="container">
  <div class="filters">
    <h3>Filters:</h3>
    <form [formGroup]="form" (ngSubmit)="apply()">
      <mat-form-field class="form-field">
        <input matInput placeholder="test group size" formControlName="testGroupSize" name="k">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="part >=" formControlName="minPart" name="minPart">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="part <=" formControlName="maxPart" name="maxPart">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="partPair >=" formControlName="minPartPair" name="minPartPair">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="partPair <=" formControlName="maxPartPair" name="maxPartPair">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="predResult" formControlName="predResult" name="predResult">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="result" formControlName="result" name="result">
      </mat-form-field>
      <mat-checkbox formControlName="showAverageTotal" name="showAverageTotal">
        Show average total
      </mat-checkbox>
      <button mat-raised-button color="primary" type="submit">Apply filters</button>
    </form>
  </div>
  <ng-container *ngIf="predictResults$ | async as predictResults; else loading">
    <h3 class="part">predictionSuccessPart/PartPair: {{predictionSuccessPart}}/{{predictionSuccessPartPair}}</h3> 
    <span>Rows count: {{ predictResults?.length }}</span>
    <table>
      <tr>
        <th>#</th>
        <th>Prediction 1</th>
        <th>Part</th>
        <th>Prediction pair</th>
        <th>Part pair</th>
        <ng-container *ngIf="showAverageTotal">
          <th>Shots AT</th>
          <th>Loses AT</th>
          <th>Delta</th>
        </ng-container>
        <th>Actual result</th>
      </tr>
      <tr *ngFor="let prediction of predictResults; let i = index">
        <td>{{ i }}</td>
        <td [ngClass]="{success:prediction.matchGuess, fail:!prediction.matchGuess}">{{ prediction.prediction.result}}</td>
        <td>{{ prediction.prediction.part}}</td>
        <td [ngClass]="{success:prediction.pairGuess, fail:!prediction.pairGuess}">{{ prediction.prediction.resultPair}}</td>
        <td>{{ prediction.prediction.partPair}}</td>
        <ng-container *ngIf="form.value?.showAverageTotal">
          <td>{{ prediction.prediction.shotsInterval?.from}} - {{ prediction.prediction.shotsInterval?.to}}</td>
          <td>{{ prediction.prediction.losesInterval?.from}} - {{ prediction.prediction.losesInterval?.to}}</td>
          <td>{{ prediction.prediction.losesInterval?.to - prediction.prediction.losesInterval?.from + prediction.prediction.shotsInterval?.to 
            - prediction.prediction.shotsInterval?.from | number:'1.1-2' }}</td>
        </ng-container>
          <td>{{ prediction.result}}</td>
      </tr>
    </table>
  </ng-container>

  <ng-template #loading>
    <img src="assets/gif/cat.gif" class="preloader">
  </ng-template>
</div>

